@CHARSET "ISO-8859-1";@charset "UTF-8";

@media all {
  /*-------------------------------------------------------------------------*/

  /* (de) Randbereiche & Seitenhintergrund */
  body { padding: 0;}

  /* Layout Properties | Layout-Eigenschaften */
  #page_margins { width: auto;  min-width: 341px; max-width: 1360px; margin: 0 auto; background: #FFFFFF00; }
  #page { padding: 0; }
  #header { padding: 20px 2em 1em 20px; color: #000; background:#edf2f8 url("../../images/bg_header.gif") repeat-x bottom left; }
  #topnav { color: #aaa; background: transparent; }
  #nav { overflow:hidden; }
  #nav_main { background-color: #c8ddf3 }
  #main { padding: 0; margin-top:0; min-height:400px; background: #FFFFFF00; }
  #footer { padding: 10px 20px; color:#666;  }

  /* (en) navigation: horizontal adjustment | (de) horizontale Ausrichtung  */
  #nav ul { margin-left: 20px; }

  /*-------------------------------------------------------------------------*/
  
  #col1 { float: left; width: 100%; padding: 0 0 20px 0}  
  #col2 { display:none}  
  #col3 { width: auto; margin: 0}  
  #col1_content { padding: 0 }  
  #col3_content { padding: 0 }  
}
